body {
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 40px;
    font-family: Arial, sans-serif;
}

.coracao img {
    width: 200px;
    height: 200px;
    object-fit: cover;

    clip-path: path("M100 30 
        C 100 0, 0 0, 0 60 
        C 0 120, 100 170, 100 200 
        C 100 170, 200 120, 200 60 
        C 200 0, 100 0, 100 30 Z");

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    }